snykTask/dist
scripts/dist
node_modules
.azure-pipeline-jobs
cycle.sh
.ops.md
.DS_Store
.idea
.taskkey
/.mocha_tests/
snykTask/coverage
*.bak
*.vsix
.eslintcache
.ops
ops/deploy/dist
.dccache
build/
.vscode/
