{
  "branches": [
    "master"
  ],
  "repositoryUrl": "https://github.com/snyk/snyk-azure-pipelines-task",
  "plugins": [
    [
      "@semantic-release/exec",
      {
        "publishCmd": "scripts/ci-deploy.sh ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [],
        "message": "chore(release): ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/commit-analyzer",
      {
        "releaseRules": [
          {"type": "docs", "release": "patch"},
          {"type": "chore", "release": "patch"},
          {"type": "refactor", "release": "patch"},
          {"type": "style", "release": "patch"}
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github"
  ]
}