{
  "branches": [
    "main"
  ],
  "repositoryUrl": "https://github.com/snyk/snyk-azure-pipelines-task",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "echo ${nextRelease.version} > .release-version"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [],
        "message": "chore(release): ${nextRelease.version}"
      }
    ],
    "@semantic-release/github"
  ]
}
